GAMCFGDIR=/home/compiler/.config/compiler-admin/gam
HARVEST_CLIENT_NAME=Client1
HARVEST_DATA=data/harvest-sample.csv
TOGGL_DATA=data/toggl-sample.csv
TOGGL_PROJECT_INFO=data/toggl-project-info-sample.json
TOGGL_USER_INFO=data/toggl-user-info-sample.json
