GYB-GMail-Backup-*/
__pycache__
.config/*
.coverage
.downloads
.env
.pytest_cache
*.csv
*.egg-info
notebooks/data/*
!notebooks/data/harvest-sample.csv
!notebooks/data/justworks-sample.csv
!notebooks/data/toggl-project-info-sample.json
!notebooks/data/toggl-sample.csv
!notebooks/data/toggl-user-info-sample.json
